/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS reset*/
.main{
    background-color: #f5eccd;
}



/* all componet styles */

.helloTime{
    background-color: #C0F8D1;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
}

header{
    background-color: #8DA7BE;
    text-align: center;
    padding-bottom: 1rem;
}

.site-title{
    font-size: 50px;
    font-style: bold;
    padding: 1rem;
}

.nav-title{
    font-size: 30px;
    padding-bottom: 1rem;

}

.wiki-site{
    text-decoration: none;
    color: black;
    font-size: 20px;
    /* background-color: #E49AB0;
    border: 1px solid #750D37; */
    /* padding: 1rem;
    margin: 1rem; */
} 

/* fantasy component */
.fantasy-container{
    position: relative;
    max-width: 35rem;
    border-radius: 2rem;
    background-color: #fcc8c2;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.fantasy-title{
    position: absolute;
    text-align: center;
    right: 20%;
    top: 20%;
    color:white;
    border-radius: 5rem;
    font-size: x-large;
    background-color: black;
    padding: 1rem;
}

.fantasy-pic{
    border-radius: 2rem;
    border: 1px solid #1B065E;
    max-width: 30rem;
}

.show-button {
    background-color: #A8C686;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.hide-button {
    background-color: #767B91;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.fantasy-items{
    font-size: 20px;
    padding: .5rem;
    margin-top:.5rem;
    margin-bottom: .5rem;
    border-radius: 5rem;
    border: 1px solid #1B065E;
    background-color:#FF87AB;
}

.complete-button{
    border-radius: 5rem;
    margin-top:.5rem;
    margin-right:.5rem;
    border: 1px solid #1B065E;
    background-color: #7F95D1;
}

.remove-button{
    border-radius: 5rem;
    margin-top:.5rem;
    margin-left:.5rem;
    border: 1px solid #1B065E;
    background-color: #E2C290;
}

/* terra component */
/* .terra-container{
    position: relative;
    max-width: 35rem;
    border-radius: 2rem;
    background-color:#67697C;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.terra-title{
    position: absolute;
    text-align: center;
    right: 35%;
    top: 30%;
    color:white;
    border-radius: 5rem;
    font-size: x-large;
    background-color: black;
    padding: 1rem;
}

.terra-pic{
    border-radius: 2rem;
    border: 1px solid #253D5B;
    max-width: 35rem;
}

.terra-items{
    font-size: 20px;
    padding: .5rem;
    margin-top:.5rem;
    margin-bottom: .5rem;
    border-radius: 5rem;
    border: 1px solid #253D5B;
    background-color:#C6878F;
}

/* factory component */
/* .factory-container{
    position: relative;
    max-width: 35rem;
    border-radius: 2rem;
    background-color:#F08700;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.factory-title{
    position: absolute;
    text-align: center;
    right: 30%;
    top: 30%;
    color:white;
    font-size: x-large;
    border-radius: 5rem;
    background-color: black;
    padding: 1rem;
}

.factory-pic{
    border-radius: 2rem;
    border: 1px solid #2C0E37;
    max-width: 30rem;
}

.factory-items{
    font-size: 20px;
    padding: .5rem;
    margin-top:.5rem;
    margin-bottom: .5rem;
    border-radius: 5rem;
    border: 1px solid #2C0E37;
    background-color:#00A6A6;

} */

/*form styles*/
.task-form {
    font-size: 20px;
    background-color: #99D17B;
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding: 1rem;

}

.dropdowns{
    display: flex;
    margin-left: 4rem;
}

#pri{
    margin-right: .5rem;
    margin-left: .5rem;
    color: black;

}

#status{
    margin-left: .5rem;
    margin-right: .5rem;
    color: black;
}

#enter {
    background-color: #DB2763;
    border: solid #DB2763;
}



footer{
    font-size: 15px;
    padding: 1rem;
    background-color: #8DA7BE;
}

/*-----------------
   Desktop styles
------------------*/
@media screen and (min-width:900px){
.task-area{
    display: flex;
}

.terra-container{
    margin-top: 1rem;
}

.factory-container{
    margin-top: 1rem;
}

/* .nav-list{
    display: flex;
    margin-right: 50rem;
} */

.wiki-site{
    margin-left: 1rem;
}

}